<mat-stepper #stepper>
    <mat-step [stepControl]="firstForm" errorMessage="Name is required.">
      <form [formGroup]="firstForm">
        <ng-template matStepLabel>Enter a your email and password</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter a your Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter a your Password" type="password" formControlName="password" required>
          </mat-form-field>
        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondForm" errorMessage="Address is required.">
      <form [formGroup]="secondForm">
        <ng-template matStepLabel>Enter a your information</ng-template>
        <mat-form-field>
          <mat-label>Full_Name</mat-label>
          <input matInput placeholder="Full Name" formControlName="name"
                 required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" formControlName="description"
                   required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Images</mat-label>
            <input matInput placeholder="Images" formControlName="img"
                   required>
        </mat-form-field>
        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="save()">Save</button>
      </div>
    </mat-step>
  </mat-stepper>
  