<div class="adminlenght">
  Admins {{num}}
</div>

<div class="addBtn">
    <button mat-button  class="addBtn1" style="background-color: #ffffff;opacity: 0.8;" (click)="openAddDialog()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="users" class="mat-elevation-z8"  >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell class="tdText" *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Full Name </th>
        <td mat-cell class="tdText" *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell class="tdText" *matCellDef="let element" matTooltip="{{element.text}}">
           <div class="desc">
            {{element.text}} 
           </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> Images </th>
        <td mat-cell class="tdText" *matCellDef="let element"> 
          <img class="imadescss" [src]="element.img||element.defImg" (error)="element.img=element.defImg" alt="photo">
       </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell class="tdText" *matCellDef="let element">
            {{element.email}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell  *matCellDef="let element" > 
            <button style="background-color: #ffffff;" (click)="del(element.id)" >
              <mat-icon color="warn" >delete</mat-icon>
            </button>
            <button style="background-color: #ffffff;margin-left: 20px;" (click)="openAdditDialog( element , element.id)">
              <mat-icon color="primary">edit</mat-icon>
            </button>
         </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  