<footer class="footer">
    <div class="footer-container">
        <div class="footer-container-logoBlock">
            <a routerLink=""><img class="margin-img" src="assets/img/Logo.png" alt="photo"></a>
            <nav class="footer-container-nav">
                <a  class="footer-container-nav-link zoom" routerLink=""        [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active">Home</a>
                <a  class="footer-container-nav-link zoom" routerLink="blog"    [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active">Blog</a>
                <a  class="footer-container-nav-link zoom" routerLink="aboutUs" [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active">About us</a>
                <a  class="footer-container-nav-link zoom" routerLink="contact" [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active">Contact us</a>
                <a class="zoom" routerLink="privacyPolicy" [routerLinkActiveOptions]="{ exact: true } "  routerLinkActive="active">Privacy Policy</a>
            </nav>
        </div>
        <div id="input" class="footer-container-emailBlock">
            <h2 class="footer-container-emailBlock-title">
                Subscribe to our news letter 
                to get latest updates and news
            </h2>
            <form  class="footer-container-forms" [formGroup]="form" (ngSubmit)="seve()" >
                <input  class="footer-container-emailBlock-input" formControlName="e_mail" type="email" placeholder="Enter Your Email" name="e_mail">
                <button class="footer-container-emailBlock-button" [disabled]="form.invalid"  >
                    Subscribe
                </button>
            </form>
        </div>
        <div class="footer-container-socialBlock">
            <div>
                <address class="footer-container-socialBlock-address">
                    Finstreet 118 2561 Fintown
                </address>
                <a class="footer-address" href="mailto:Hello@finsweet.com">Hello@finsweet.com</a>
                <a id="tel" href="tel:020 7993 2905">020 7993 2905</a>
            </div>
            <div class="footer-container-socialBlock-links">
                <a class="footer-container-socialBlock-links1" href="https://ru-ru.facebook.com/">
                    <img  src="assets/img/Negative4.png" alt="photo">
                </a>
                <a class="footer-container-socialBlock-links1" href="https://twitter.com/">
                    <img  src="assets/img/Negative5.png" alt="photo">
                </a>
                <a class="footer-container-socialBlock-links1" href="https://www.instagram.com/">
                    <img src="assets/img/Negative7.png" alt="photo">
                </a>
                <a class="footer-container-socialBlock-links1" href="https://www.linkedin.com/">
                    <img  src="assets/img/Negative6.png" alt="photo">
                </a>
            </div>
        </div>      
    </div>
</footer>
