<div class="logoBlock">
    <div class="logoBlock-container">
        <a routerLink=""><img class="logoBlock-img" src="assets/img/Logo.png" alt="Photo"></a>
        <div class="log">
            <nav class="logoBlock-nav">
                <a routerLink=""        [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active" class="logoBlock-links">Home</a>
                <a routerLink="blog"    [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active" class="logoBlock-links">Blog</a>
                <a routerLink="aboutUs" [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active" class="logoBlock-links">About Us</a>
                <a routerLink="contact" [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active" class="logoBlock-links">Contact us</a>
                <a href="#input" class="logoBlock-nav-button">Subscribe</a>
            </nav>
            <div class="logoBlock-mobail">
                <img class="logoBlock-mobail-img" src="assets/img/Без названия.png" alt="Photo">
                <ul class="logoBlock-ul">
                    <li><a routerLink=""        [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active" class="logoBlock-links">Home</a></li>
                    <li><a routerLink="blog"    [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active" class="logoBlock-links">Blog</a></li>
                    <li><a routerLink="aboutUs" [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active" class="logoBlock-links">About Us</a></li>
                    <li><a routerLink="contact" [routerLinkActiveOptions]="{ exact: true }"  routerLinkActive="active" class="logoBlock-links">Contact us</a></li>
                    <li><a href="#input">Subscribe</a></li>
                </ul>
            </div>
        </div>
    </div>
