<header class="header-block">
    <div class="header-container">
        <p class="header-container-text1">
            Contact us
        </p>
        <h1 class="header-container-title">
            Let’s Start a Conversation
        </h1>
        <p class="header-container-text2">
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit,
            sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
            Ut enim ad minim.
        </p>
    </div>
</header>
<section class="section1">
    <div class="section1-container">
        <div class="section1-container-block1">
            <p class="section1-container-block1-text1">
                Working hours
            </p>
            <h5 class="section1-container-block1-title1">
                Monday To Friday
            </h5>
            <h5 class="section1-container-block1-title1">
                9:00 AM to 8:00 PM
            </h5>
            <address class="section1-container-block1-text2">
                Our Support Team is available 24/7
            </address>
        </div>
        <div class="section1-container-block2">
            <p class="section1-container-block1-text1">
                Contact Us
            </p>
            <a class="section1-container-block2-telNum" href="tel:020 7993 2905;">020 7993 2905</a>
            <a class="section1-container-block2-mail" href="mailto:hello@finsweet.com">hello@finsweet.com</a>
        </div>
    </div>
</section>
<section class="section2">
    <div class="section2-container">
        <form [formGroup]="form" (ngSubmit)="save()">
            <input class="section2-container-fullName input" formControlName="full_nume" type="text"
                placeholder="Full Name" name="full_nume" [ngStyle]="{'border': form.get('full_nume')?.invalid ? '3px solid red' : '2px solid green'}">
                <span class="inputInvalid" [ngStyle]="{'display': form.get('full_nume')?.invalid ? 'inline' : 'none'}">
                    This form filed!
                </span>
            <input class="section2-container-Email input" formControlName="e_mail" type="email" placeholder="Your Email" name="e_mail" [ngStyle]="{'border': form.get('e_mail')?.invalid ? '3px solid red' : '2px solid green'}">
            <span class="inputInvalid" [ngStyle]="{'display': form.get('e_mail')?.invalid ? 'inline' : 'none'}">
                Enter a your email "test@mail.com"!
            </span>
            <select formControlName="select" type="text">
                <option selected>Query Related</option>
            </select>
            <textarea class="section2-container-textarea input" formControlName="textarea" name="textarea"
                placeholder="Message" cols="20" rows="6.5"></textarea>
            <button class="section2-container-button input" [disabled]="form.invalid" type="submit">Send
                Message</button>
        </form>
    </div>
</section>