<header class="header-block" *ngIf="post">
    <div class="header-container">
        <div class="header-container-block">
            <p class="header-container-block-text">Posted on <b>{{post.cotegory}}</b></p>
            <h1 class="header-container-block-title">{{post.title}}</h1>
            <p  class="header-container-block-text1">
                By <span style="color:#FFD050;">
                    <a [routerLink]="['/author', post.userName]">{{post.userName}}</a>
                </span> 
                <time>{{post.data}}</time>
            </p>
            <p class="header-container-block-text3">
                {{post.post}}
            </p>
            <a class="header-container-block-button" [routerLink]="['/blogPost',post.id]">Read More ></a>
        </div>
    </div>
</header>
