<section class="section3">
    <div class="section3-container">
        <h2 class="section3-container-title">All Categories</h2>
        <div class="section3-container-blocks">
            <div class="section3-container-blocks-block1">
                <div class="section3-container-blocks-img">
                    <img src="assets/img/Icon (3).png" alt="photo">
                </div>
                <h3 class="section3-container-blocks-title">
                    Business
                </h3>
                <p class="section3-container-blocks-text">
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit.
                </p>
            </div>
            <div class="section3-container-blocks-block1">
                <div class="section3-container-blocks-img1">
                    <img src="assets/img/shuttle (1).png" alt="photo">
                </div>
                <h3 class="section3-container-blocks-title">
                    Startup
                </h3>
                <p class="section3-container-blocks-text">
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit.
                </p>
            </div>
            <div class="section3-container-blocks-block1">
                <div class="section3-container-blocks-img1">
                    <img src="assets/img/economy (1).png" alt="photo">
                </div>
                <h3 class="section3-container-blocks-title">
                    Economy
                </h3>
                <p class="section3-container-blocks-text">
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit.
                </p>
            </div>
            <div class="section3-container-blocks-block1">
                <div class="section3-container-blocks-img1">
                    <img src="assets/img/cyborg (1).png" alt="photo">
                </div>
                <h3 class="section3-container-blocks-title">
                    Technology
                </h3>
                <p class="section3-container-blocks-text">
                    Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit.
                </p>
            </div>
        </div>
    </div>
</section>