<mat-toolbar color="primary" class="nav-bar">
    <img src="../../../assets/img/Logo.png" alt="photo">
    <a mat-button class="btn" color="primary" (click)="logOut()">Log out</a>
</mat-toolbar>
<div class="blockcolor">
    Components
</div>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <a mat-button  routerLink="/admin" class="compBtn">
            <mat-icon>dashboard</mat-icon> DashBoard
        </a>
        <a mat-button  routerLink="/admin/auther" class="compBtn">
            <mat-icon>person</mat-icon>  Aurher
        </a>
        <a mat-button  routerLink="/admin/cotegory" class="compBtn">
           <mat-icon>category</mat-icon> Cotegory
        </a>
        <a mat-button  routerLink="/admin/blog" class="compBtn">
          <mat-icon>wysiwyg</mat-icon>  Blog
        </a>
        <a mat-button  routerLink="/admin/contactUs"  class="compBtn">
            <mat-icon>contact_emergency</mat-icon>  Contact Us
        </a>
        <a mat-button  routerLink="/admin/register"  class="compBtn">
            <mat-icon>contact_emergency</mat-icon>  Registration
        </a>
        <a mat-button  routerLink="" class="compBtn">
            <mat-icon>home</mat-icon>  Home
        </a>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

