<mat-toolbar color="primary" class="nav-bar">
    <img src="../../../assets/img/Logo.png" alt="photo">
    <button mat-button class="btn" color="primary" routerLink="/login">Log out</button>
</mat-toolbar>
<div class="blockcolor">
    Components
</div>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <button mat-button  routerLink="/admin/dashboard" class="compBtn">
            <mat-icon>dashboard</mat-icon> DashBoard
        </button>
        <button mat-button  routerLink="/admin/auther" class="compBtn">
            <mat-icon>person</mat-icon>  Aurher
        </button>
        <button mat-button  routerLink="/admin/cotegory" class="compBtn">
           <mat-icon>category</mat-icon> Cotegory
        </button>
        <button mat-button  routerLink="/admin/blog" class="compBtn">
          <mat-icon>wysiwyg</mat-icon>  Blog
        </button>
        <button mat-button  class="compBtn">
            <mat-icon>contact_emergency</mat-icon>  Contact Us
        </button>
        <button mat-button  routerLink="" class="compBtn">
            <mat-icon>home</mat-icon>  Home
        </button>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

