.nav-bar{
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: #ffffff;
    font-weight: 600;
    width: 130px;
}
.blockcolor{
    background-color: #6b77ba;
    padding:20px 0;
    font-size: 30px;
    padding-left: 20px;
}
.example-container {
    height: 100%;
    margin: 10px;
    border: 3px solid #555;
    margin: 0;
}
mat-drawer{
    width: 20%;
    background-color: #303030;
    padding: 20px 0;
}
/* mat-drawer-content{
    height: 100%;
} */
.compBtn{
    display: block;
    text-align: left;
    width: 80%;
    font-size: 25px;
    font-family: Sen;
    margin: auto;
    background-color: #607d8b;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 15px 0 15px 20px;
    height: unset;
}
