<header class="header-block">
    <div class="header-container">
        <div class="header-container-block">
            <div *ngFor="let item of auther">
                <app-authors [auther]="item"></app-authors>
            </div>
            <div class="header-container-block2">
                <div class="header-container-block2-yellowblock"></div>
                <div class="header-container-block2-purpleblock"></div>
            </div>
        </div>
    </div>
</header>
<section class="section">
    <div class="section-container">
        <h2 class="section-container-title">
            My Posts
        </h2>
        <div *ngFor="let item of Author">
            <app-posts [post]="item"></app-posts>
        </div>
    </div>
</section>