<header class="header-block">
    <div class="header-container">
        <div class="header-container-block">
            <div class="header-container-block1">
                <img class="header-container-block1-img" src="assets/img/close-up (2).png" alt="photo">
                <div>
                    <h1 class="header-container-block1-title">
                        Hey there, I’m Andrew Jonhson and welcome to my Blog
                    </h1>
                    <p class="header-container-block1-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna 
                        aliqua. Non blandit massa enim nec. Scelerisque viverra mauris 
                        in aliquam sem. At risus viverra adipiscing at in tellus.
                    </p>
                    <div class="header-container-block1-socialLinks">
                        <a class="header-container-block1-socialLinks1" href="https://ru-ru.facebook.com/">
                            <img src="assets/img/Negative2.png" alt="photo">
                        </a>
                        <a class="header-container-block1-socialLinks1" href="https://twitter.com/">
                            <img src="assets/img/Negative.png" alt="photo">
                        </a>
                        <a class="header-container-block1-socialLinks1" href="https://www.instagram.com/">
                            <img src="assets/img/Negative3.png" alt="photo">
                        </a>
                        <a class="header-container-block1-socialLinks1" href="https://www.linkedin.com/">
                            <img src="assets/img/Negative1.png" alt="photo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-container-block2">
                <div class="header-container-block2-yellowblock"></div>
                <div class="header-container-block2-purpleblock"></div>
            </div>
        </div>
    </div>
</header>
<section class="section">
    <div class="section-container">
        <h2 class="section-container-title">
            My Posts
        </h2>
        <div class="section-container-block1 marginBlock">
            <img class="section-container-block1-img" src="assets/img/stained.png" alt="photo">
            <div  class="section-container-block1-text">
                <p class="section-container-block1-text1">
                    BUSINESS
                </p>
                <h2 class="section-container-block1-title">
                    Font sizes in UI design: 
                    The complete guide to follow
                </h2>
                <p class="section-container-block1-text2">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="section-container-block1">
            <img class="section-container-block1-img" src="assets/img/main-in.png" alt="photo">
            <div  class="section-container-block1-text">
                <p class="section-container-block1-text1">
                    ECONOMY
                </p>
                <h2 class="section-container-block1-title">
                    How to build rapport with 
                    your web design clients
                </h2>
                <p class="section-container-block1-text2">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</section>