<div class="section1-container-blocks-block1">
    <img class="section1-container-blocks-block1-img" [src]="post.img" alt="photo">
    <div class="section1-container-blocks-block1-textBlock">
        <p class="section1-container-blocks-block1-text1">
            {{post.cotegory}}
        </p>
        <h2 class="section1-container-blocks-block1-title">
            {{post.title}}
        </h2>
        <p class="section1-container-blocks-block1-text2">
            {{post.post}}
        </p>
    </div>
</div>