.section1-container-blocks-block1-img{
    width: 100%;
}
.section1-container-blocks-block1{
    margin-bottom: 20px;
}
.section1-container-blocks-block1-text1{
    color: var(--purple, #592EA9);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section1-container-blocks-block1-title{
    color: var(--black, #232536);
    font-family: Sen;
    font-size: 36px; /*36px*/
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 48px */
    letter-spacing: -2px;
    /*width: 512px;*/
    margin-bottom: 16px;
}
.section1-container-blocks-block1-text2{
    color: var(--medium-grey, #6D6E76);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    /*width: 512px;*/
}
@media screen and (min-width: 768px) {
    .section1-container-blocks-block1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 32px;
    }
    .section1-container-blocks-block1-img{
        width: 290px;
    }
    .section1-container-blocks-block1-title{
        width: 343px;
    }
    .section1-container-blocks-block1-text2{
        width: 343px;
    }
}
@media screen and (min-width: 992px) {
    .section1-container-blocks-block1{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        margin-bottom: 32px;
    }
    .section1-container-blocks-block1-img{
        width: 290px;
        margin-right: 20px;
    }
    .section1-container-blocks-block1-title{
        width: 343px;
    }
    .section1-container-blocks-block1-text2{
        width: 343px;
    }    
}
@media screen and (min-width: 1280px) {
    .section1-container-blocks-block1{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
    .section1-container-blocks-block1-img{
        width: 294px;
        margin-right: 32px;
        height: 312px;
    }
    .section1-container-blocks-block1-title{
        width: 512px;
    }
    .section1-container-blocks-block1-text2{
        width: 512px;
    }
    .section1-container-blocks-block1-textBlock{
        padding: 38px 0;
    }
}