.section1-container-block1{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.section1-container-block1-img{
    width: 100%;
}
.section1-container-block1-textBlock{
    text-align: center;
    padding: 40px 0;
}
.section1-container-block1-textBlock-text1{
    color: var(--purple, #592EA9);
    font-family: Inter;
    font-size: 16px; /* 16px*/
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 20px */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section1-container-block1-textBlock-title{
    color: var(--black, #232536);
    font-family: Sen;
    font-size: 36px; /*36px*/
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 48px */
    letter-spacing: -2px;
    margin-bottom: 16px;
    /*width: 602.892px;*/
}
.section1-container-block1-textBlock-text2{
    color: var(--medium-grey, #6D6E76);
    font-family: Inter;
    font-size: 16px; /*16px*/
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 28px */
    /*width: 624px;*/
}
@media screen and (min-width: 768px) {
    .section1-container-block1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section1-container-block1-img{
        width: 390px;
    }
    .section1-container-block1-textBlock-title{
        width: 300px;
        line-height: 36px;
    }
    .section1-container-block1-textBlock-text2{
        width: 300px;
        line-height: 22px;
    }
    .section1-container-block1-textBlock{
        text-align: left;
        padding: 40px 0;
    }

}
@media screen and (min-width: 992px) {
    .section1-container-block1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 64px;
    }
    .section1-container-block1-img{
        width: 450px;
    }
    .section1-container-block1-textBlock-title{
        width: 385px;
        line-height: 48px; 
    }
    .section1-container-block1-textBlock-text2{
        width: 380px;
        line-height: 28px;
    }
    .section1-container-block1-textBlock{
        text-align: left;
        padding: 40px 0;
    }
}
@media screen and (min-width: 1280px) {
    .section1-container-block1{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 64px;
    }
    .section1-container-block1-img{
        width: 490px;
    }
    .section1-container-block1-textBlock-title{
        width: 602.892px;
        line-height: 48px; 
    }
    .section1-container-block1-textBlock-text2{
        width: 624px;
        line-height: 28px;
    }
    .section1-container-block1-textBlock{
        text-align: left;
        padding: 55px 0 55px 32px;
    }
}