<div [ngSwitch]="post.class">
    <div *ngSwitchCase="'blog'">
        <div  class="section1-container-block1" >
            <img  class="section1-container-block1-img" [src]="post.img" alt="photo">
            <div class="section1-container-block1-textBlock" >
                <p class="section1-container-block1-textBlock-text1"  >
                    {{post.cotegory}}
                </p>
                <h2 class="section1-container-block1-textBlock-title" >
                    {{post.title}}
                </h2>
                <p class="section1-container-block1-textBlock-text2" >
                    {{post.post}}
                </p>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'category'">
        <div  class="section1-container-blocks-block1">
            <img  class=" section1-container-blocks-block1-img" [src]="post.img" alt="photo">
            <div class="section1-container-blocks-block1-textBlock" >
                <p class=" section1-container-blocks-block1-text1" >
                    {{post.cotegory}}
                </p>
                <h2 class="section1-container-blocks-block1-title" >
                    {{post.title}}
                </h2>
                <p class="section1-container-blocks-block1-text2" >
                    {{post.post}}
                </p>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'authers'">
        <div class="section-container-block1 marginBlock">
            <img class="section-container-block1-img" [src]="post.img" alt="photo">
            <div  class="section-container-block1-text">
                <p class="section-container-block1-text1">
                    {{post.cotegory}}
                </p>
                <h2 class="section-container-block1-title">
                    {{post.title}}
                </h2>
                <p class="section-container-block1-text2">
                    {{post.post}}
                </p>
            </div>
        </div>
    </div>
</div>
























<!-- <div  [ngClass]=" post.class == 'blog'? 'section1-container-block1' :'section1-container-blocks-block1'">
    <img  [ngClass]="post.class == 'blog'? 'section1-container-block1-img' : 'section1-container-blocks-block1-img'" [src]="post.img" alt="photo">
    <div [ngClass]="post.class == 'blog'? 'section1-container-block1-textBlock': 'section1-container-blocks-block1-textBlock'" >
        <p [ngClass]="post.class == 'blog' ? 'section1-container-block1-textBlock-text1' : 'section1-container-blocks-block1-text1'" >
            {{post.cotegory}}
        </p>
        <h2 [ngClass]="post.class == 'blog' ? 'section1-container-block1-textBlock-title' : 'section1-container-blocks-block1-title'" >
            {{post.title}}
        </h2>
        <p [ngClass]=" post.class == 'blog'? 'section1-container-block1-textBlock-text2' : 'section1-container-blocks-block1-text2'" >
            {{post.post}}
        </p>
    </div>
</div> -->