<div  [ngClass]=" post.class == 'blog'? 'section1-container-block1':null" [ngClass]="post.class=='category'? 'section1-container-blocks-block1':null">
    <img  [ngClass]="post.class == 'blog'? 'section1-container-block1-img' : null" [ngClass]="post.class=='category' ? 'section1-container-blocks-block1-img': null" [src]="post.img" alt="photo">
    <div [ngClass]=" post.class == 'blog'? 'section1-container-block1-textBlock': null" [ngClass]="post.class=='category'?'section1-container-blocks-block1-textBlock':null">
        <p [ngClass]="post.class == 'blog' ? 'section1-container-block1-textBlock-text1': null" [ngClass]="post.class=='category'?'section1-container-blocks-block1-text1':null">
            {{post.cotegory}}
        </p>
        <h2 [ngClass]="post.class == 'blog' ? 'section1-container-block1-textBlock-title' : null"  [ngClass]="post.class=='category'?'section1-container-blocks-block1-title':null">
            {{post.title}}
        </h2>
        <p [ngClass]=" post.class == 'blog'? 'section1-container-block1-textBlock-text2' : null" [ngClass]="post.class=='category' ? 'section1-container-blocks-block1-text2':null">
            {{post.post}}
        </p>
    </div>
</div>