<div  [ngClass]="post.class=='blog'? '.section1-container-block1': '.section1-container-blocks-block1'">
    <img *ngclass="post.class=='blog'?'.section1-container-block1-img': '.section1-container-blocks-block1-img' " [src]="post.img" alt="photo">
    <div ngclass="post.class=='blog'?'.section1-container-block1-textBlock': '.section1-container-blocks-block1-textBlock'">
        <p *ngclass="post.class=='blog'?'.section1-container-block1-textBlock-text1': '.section1-container-blocks-block1-text1'">
            {{post.cotegory}}
        </p>
        <h2 *ngclass="post.class=='blog'?'.section1-container-block1-textBlock-title': '.section1-container-blocks-block1-title'">
            {{post.title}}
        </h2>
        <p *ngclass=" post.class=='blog' ? '.section1-container-block1-textBlock-text2':'.section1-container-blocks-block1-text2'">
            {{post.post}}
        </p>
    </div>
</div>
