<header class="header">
    <div class="header-container">
        <h1 class="header-container-title">
            Business
        </h1>
        <p   class="header-container-text1">
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt 
            ut labore.
        </p>
        <p   class="header-container-text2">
            Blog > Business
        </p>
    </div>
</header>
<section class="section1">
    <div class="section1-container">
        <div class="section1-container-blocks">
            <div *ngFor="let item of post">
                <app-posts [post]="item"></app-posts>
            </div>
        </div>
        <div class="section1-container-blocks1">
            <div class="section1-container-blocks1-block">
                <h2 class="section1-container-blocks1-title">
                    Categories
                </h2>
                <div class="section1-container-blocks1-block1">
                    <img src="assets/img/shuttle (1).png" alt="photo">
                    <p class="section1-container-blocks1-block1-text">
                        Startup
                    </p>
                </div>
                <div class="section1-container-blocks1-block1">
                    <img src="assets/img/Icon (3).png" alt="photo">
                    <p class="section1-container-blocks1-block1-text">
                        Business
                    </p>
                </div>
                <div class="section1-container-blocks1-block1">
                    <img src="assets/img/economy (1).png" alt="photo">
                    <p class="section1-container-blocks1-block1-text">
                        Economy
                    </p>
                </div>
                <div class="section1-container-blocks1-block1">
                    <img src="assets/img/cyborg (1).png" alt="photo">
                    <p class="section1-container-blocks1-block1-text">
                        Technology
                    </p>
                </div>
            </div>
            <div class="section1-container-blocks1-blocks">
                <h2 class="section1-container-blocks1-blocks-title">
                    All Tags
                </h2>
               <div class="section1-container-blocks1-blocks-texts">
                    <div class="section1-container-blocks1-blocks-text">
                        Business
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Experience
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Screen
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Technology
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Marketing
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Life
                    </div>
               </div>
            </div>
        </div>
    </div>
</section>