<header class="header">
    <div class="header-container" *ngIf="cotegory">
        <h1 class="header-container-title">
            {{categorys.toUpperCase()}}
        </h1>
        <p   class="header-container-text1">
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt 
            ut labore.
        </p>
        <p   class="header-container-text2">
            Blog > {{categorys}}
        </p>
    </div>
</header>
<section class="section1">
    <div class="section1-container">
        <div class="section1-container-blocks">
            <div *ngFor="let item of post">
                <app-posts [post]="item" [type]="'category'"></app-posts>
            </div>
        </div>
        <div class="section1-container-blocks1">
            <div class="section1-container-blocks1-block">
                <h2 class="section1-container-blocks1-title">
                    Categories
                </h2>
                <a class="block" [routerLink]="['/category', item.category]"  *ngFor="let item of clickCategory">
                    <div class="section1-container-blocks1-block1">
                        <img [src]="item.img" alt="photo">
                        <p class="section1-container-blocks1-block1-text">
                            {{item.category}}
                        </p>
                    </div>
                </a>   
            </div>
            <div class="section1-container-blocks1-blocks">
                <h2 class="section1-container-blocks1-blocks-title">
                    All Tags
                </h2>
               <div class="section1-container-blocks1-blocks-texts">
                    <div class="section1-container-blocks1-blocks-text">
                        Business
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Experience
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Screen
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Technology
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Marketing
                    </div>
                    <div class="section1-container-blocks1-blocks-text">
                        Life
                    </div>
               </div>
            </div>
        </div>
    </div>
</section>