<section class="section5">
    <div class="section5-container">
        <h2 class="section5-container-title">
            List of Authors
        </h2>
        <div class="section5-container-blocks">
            <div  class="section5-container-blocks-block1">
                <div class="section5-container-blocks-block1-img"></div>
                <h3 class="section5-container-blocks-block1-title">
                    Floyd Miles
                </h3>
                <p class="section5-container-blocks-block1-text">
                    Content Writer @Company
                </p>
                <div class="section5-container-blocks-block1-socialLinks">
                    <a class="section5-container-blocks-block1-socialLinks1" href="https://ru-ru.facebook.com/">
                        <img src="assets/img/Negative2.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://twitter.com/">
                        <img src="assets/img/Negative.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.instagram.com/">
                        <img src="assets/img/Negative3.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.linkedin.com/">
                        <img src="assets/img/Negative1.png" alt="photo">
                    </a>
                </div> 
            </div>
            <div  class="section5-container-blocks-block1">
                <div class="section5-container-blocks-block1-img1"></div>
                <h3 class="section5-container-blocks-block1-title">
                    Dianne Russell
                </h3>
                <p class="section5-container-blocks-block1-text">
                    Content Writer @Company
                </p>
                <div class="section5-container-blocks-block1-socialLinks">
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://ru-ru.facebook.com/">
                        <img src="assets/img/Negative2.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://twitter.com/">
                        <img src="assets/img/Negative.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.instagram.com/">
                        <img src="assets/img/Negative3.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.linkedin.com/">
                        <img src="assets/img/Negative1.png" alt="photo">
                    </a>
                </div> 
            </div>
            <div  class="section5-container-blocks-block1">
                <div class="section5-container-blocks-block1-img2"></div>
                <h3 class="section5-container-blocks-block1-title">
                    Jenny Wilson
                </h3>
                <p class="section5-container-blocks-block1-text">
                    Content Writer @Company
                </p>
                <div class="section5-container-blocks-block1-socialLinks">
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://ru-ru.facebook.com/">
                        <img src="assets/img/Negative2.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://twitter.com/">
                        <img src="assets/img/Negative.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.instagram.com/">
                        <img src="assets/img/Negative3.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.linkedin.com/">
                        <img src="assets/img/Negative1.png" alt="photo">
                    </a>
                </div> 
            </div>
            <div  class="section5-container-blocks-block1">
                <div class="section5-container-blocks-block1-img3"></div>
                <h3 class="section5-container-blocks-block1-title">
                    Leslie Alexander
                </h3>
                <p class="section5-container-blocks-block1-text">
                    Content Writer @Company
                </p>
                <div class="section5-container-blocks-block1-socialLinks">
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://ru-ru.facebook.com/">
                        <img src="assets/img/Negative2.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://twitter.com/">
                        <img src="assets/img/Negative.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.instagram.com/">
                        <img src="assets/img/Negative3.png" alt="photo">
                    </a>
                    <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.linkedin.com/">
                        <img src="assets/img/Negative1.png" alt="photo">
                    </a>
                </div> 
            </div>      
        </div>
    </div>
</section>
