<div  class="section5-container-blocks-block1" >
    <div class="section5-container-blocks-block1-img">
        <img class="img" [src]="item.img" alt="photo">
    </div>
    <h3 class="section5-container-blocks-block1-title">
        {{item.title}}
    </h3>
    <p class="section5-container-blocks-block1-text">
        {{item.text}}
    </p>
    <div class="section5-container-blocks-block1-socialLinks">
        <a class="section5-container-blocks-block1-socialLinks1" href="https://ru-ru.facebook.com/">
            <img  src="../../../assets/img/Negative2.png" alt="photo">
        </a>
        <a class="section5-container-blocks-block1-socialLinks1"  href="https://twitter.com/">
            <img src="../../../assets/img/Negative.png" alt="photo">
        </a>
        <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.instagram.com/">
            <img src="../../../assets/img/Negative3.png" alt="photo">
        </a>
        <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.linkedin.com/">
            <img src="../../../assets/img/Negative1.png" alt="photo">
        </a>
    </div> 
</div>   