<div  class="section5-container-blocks-block1" >
    <div class="section5-container-blocks-block1-img">
        <img [src]="item.img" alt="photo">
    </div>
    <h3 class="section5-container-blocks-block1-title">
        {{item.title}}
    </h3>
    <p class="section5-container-blocks-block1-text">
        {{item.text}}
    </p>
    <div class="section5-container-blocks-block1-socialLinks">
        <a class="section5-container-blocks-block1-socialLinks1" href="https://ru-ru.facebook.com/">
            <img [src]="item.img1" alt="photo">
        </a>
        <a class="section5-container-blocks-block1-socialLinks1"  href="https://twitter.com/">
            <img [src]="item.img2" alt="photo">
        </a>
        <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.instagram.com/">
            <img [src]="item.img3" alt="photo">
        </a>
        <a class="section5-container-blocks-block1-socialLinks1"  href="https://www.linkedin.com/">
            <img [src]="item.img4" alt="photo">
        </a>
    </div> 
</div>   