<app-blog-header></app-blog-header>
<section class="section1">
    <div class="section1-container">
        <h1 class="section1-title">
            All posts
        </h1>
        <div class="section1-containerblocks">
            <div *ngFor="let po of post">
                <app-posts [post]="po"></app-posts>
            </div>
            <div class="header-container-buttonBlock">
                <button class="header-container-buttonPrev">
                    < Prev 
                </button>
                <button class="header-container-buttonNext"> Next > </button>
            </div>
        </div>
    </div>
</section>
<section class="section3">
    <div class="section3-container">
        <h2 class="section3-container-title">All Categories</h2>
        <div class="section3-container-blocks">
            <div *ngFor="let it of category">
                <app-choose-a-catagory [item]="it" routerLink="/category"></app-choose-a-catagory>
            </div>
        </div>
    </div>
</section>
<app-join></app-join>