<app-blog-header></app-blog-header>
<section class="section1">
    <div class="section1-container">
        <h1 class="section1-title">
            All posts
        </h1>
        <div class="section1-containerblocks">
            <a class="block" [routerLink]="['/blogPost',po.id]" *ngFor="let po of blog">
                <app-posts [post]="po" [type]="'blog'"></app-posts>
            </a>
            <div class="header-container-buttonBlock">
                <button class="header-container-buttonPrev" (click)="prev()" *ngIf="pagesNumber>1">
                    < Prev 
                </button>
                <button class="header-container-buttonNext" (click)="next()" *ngIf="blog.length >= 4"> Next > </button>
            </div>
        </div>
    </div>
</section>
<section class="section3">
    <div class="section3-container">
        <h2 class="section3-container-title">All Categories</h2>
        <div class="section3-container-blocks">
                <a class="block" *ngFor="let it of Category"  [routerLink]="['/category', it.category]">
                    <app-choose-a-catagory [item]="it"></app-choose-a-catagory>
                </a>
        </div>
    </div>
</section>
<app-join></app-join>