<app-blog-header></app-blog-header>
<section class="section1">
    <div class="section1-container">
        <h1 class="section1-title">
            All posts
        </h1>
        <div class="section1-containerblocks">
            <div class="section1-container-block1">
                <img class="section1-container-block1-img" src="assets/img/two.png" alt="photo">
                <div class="section1-container-block1-textBlock">
                    <p class="section1-container-block1-textBlock-text1">
                        Startup
                    </p>
                    <h2 class="section1-container-block1-textBlock-title">
                        Design tips for designers that cover everything you need
                    </h2>
                    <p class="section1-container-block1-textBlock-text2">
                        Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="section1-container-block1">
                <img class="section1-container-block1-img" src="assets/img/photo-of.png" alt="photo">
                <div class="section1-container-block1-textBlock">
                    <p class="section1-container-block1-textBlock-text1">
                        BUSINESS
                    </p>
                    <h2 class="section1-container-block1-textBlock-title">
                        How to build rapport with your web design clients
                    </h2>
                    <p class="section1-container-block1-textBlock-text2">
                        Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="section1-container-block1">
                <img class="section1-container-block1-img" src="assets/img/photo-of1.png" alt="photo">
                <div class="section1-container-block1-textBlock">
                    <p class="section1-container-block1-textBlock-text1">
                        Startup
                    </p>
                    <h2 class="section1-container-block1-textBlock-title">
                        Logo design trends to avoid in 2022
                    </h2>
                    <p class="section1-container-block1-textBlock-text2">
                        Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="section1-container-block1">
                <img class="section1-container-block1-img" src="assets/img/photo-of2.png" alt="photo">
                <div class="section1-container-block1-textBlock">
                    <p class="section1-container-block1-textBlock-text1">
                        TECHNOLOGY
                    </p>
                    <h2 class="section1-container-block1-textBlock-title">
                        8 Figma design systems you can download for free today
                    </h2>
                    <p class="section1-container-block1-textBlock-text2">
                        Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="section1-container-block1">
                <img class="section1-container-block1-img" src="assets/img/photo-of2.png" alt="photo">
                <div class="section1-container-block1-textBlock">
                    <p class="section1-container-block1-textBlock-text1">
                        ECONOMY
                    </p>
                    <h2 class="section1-container-block1-textBlock-title">
                        Font sizes in UI design: The complete guide to follow
                    </h2>
                    <p class="section1-container-block1-textBlock-text2">
                        Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="header-container-buttonBlock">
                <button class="header-container-buttonPrev">
                    < Prev </button>
                        <button class="header-container-buttonNext"> Next > </button>
            </div>
        </div>
    </div>
</section>
<app-blog-all-categories></app-blog-all-categories>
<app-join></app-join>
