.addBtn{
   background-color:  #ffffff;
   padding: 30px 20px 40px;
   position: relative;
}
.addBtn1{
   position: fixed;
   z-index: 1;
   background-color: #6b77ba;
   padding: 10px 20px;
   border-radius: 10px;
}
.imadescss{
    width: 48px ;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}
th{
    font-size: 22px;
    font-weight: 600;
}
td{
    /* width: 60px; */
    height: 50px;
    font-weight: 500;
}
div{
  height: 20px;
  width: 120px;
  overflow: hidden;
}