<app-header></app-header>
<section class="section1">
    <div class="section1-container">
        <div class="section1-container-block1">
            <p  class="section1-container-block1-text1">Featured Post</p>
            <p  class="section1-container-block1-text1">All Posts</p>
            <a routerLink="blog" class="section1-container-block1-text3">View All</a>
        </div>
        <div class="section1-container-blocks">
            <div class="section1-container-blocks-block1">
                <div *ngFor="let item of singlPost">
                    <img  class="section1-container-blocks-block1-img" src="assets/img/white.png" alt="Photo">
                    <p class="section1-container-blocks-block1-text1">
                        By <span style="color:#592EA9;">{{item.userName}}</span>   {{item.data}}
                    </p>
                    <p class="section1-container-blocks-block1-text2">
                        {{item.title}}
                    </p>
                    <p class="section1-container-blocks-block1-text3">
                        {{item.post}}
                    </p>
                    <a class="section1-container-blocks-block1-button" [routerLink]="['/blogPost',item.id]">Read More ></a>
               </div>
            </div>
            <div class="section1-container-blocks-block2">
                <a class="a_block" routerLink="blogPost" *ngFor="let item of post">
                    <div class="section1-container-blocks-block2-block">
                        <p class="section1-container-blocks-block2-text1">
                            <span style="color:#592EA9;">{{item.userName}}</span>   {{item.data}} 
                        </p>
                        <p class="section1-container-blocks-block2-text2">
                            {{item.title}}
                        </p>
                    </div>
                </a>          
            </div>
        </div>
    </div>
</section>
<section class="section2">
    <div class="section2-container-color">
        <div class="section2-container-color-yellow"></div>
        <div class="section2-container-color-purple"></div>
    </div>
    <div class="section2-container">
        <div class="section2-container-blocks">
            <div class="section2-container-block1">
                <p class="section2-container-block1-text1">
                    ABOUT US
                </p>
                <h3 class="section2-container-block1-title">
                    We are a community of 
                    content writers who 
                    share their learnings
                </h3>
                <p class="section2-container-block1-text2">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua.
                </p>
                <button routerLink="aboutUs" class="section2-container-block1-button">
                    Read More >
                </button>
            </div>
            <div class="section2-container-block2">
                <p class="section2-container-block2-text1">
                    Our mision
                </p>
                <h3 class="section2-container-block2-title">
                    Creating valuable content 
                    for creatives all around the world
                </h3>
                <p class="section2-container-block2-text2">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section3">
    <div class="section3-container">
        <h2  class="section3-container-title">Choose A Catagory</h2>
        <div class="section3-container-blocks">
            <div *ngFor="let val of categorys">
                <a class="category_block" [routerLink]="['/category',val.category]">
                <app-choose-a-catagory [item]="val"></app-choose-a-catagory>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section4">
    <div class="section4-container">
        <img  class="section4-container-img" src="assets/img/close-up.png" alt="photo">
        <div class="section4-container-block">
            <p class="section4-container-block-text1">
                Why we started 
            </p>
            <h2 class="section4-container-block-title">
                It started out as a simple 
                idea and evolved into our passion
            </h2>
            <p class="section4-container-block-text2">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip.
            </p>
            <a class="section4-container-block-button" routerLink="aboutUs">
                Discover our story >
            </a>
        </div>
    </div>
</section>
<section class="section5">
    <div class="section5-container">
        <h2 class="section5-container-title">
            List of Authors
        </h2>
        <div class="section5-container-blocks">
            <div *ngFor="let val of authers">
                <a class="category_block" [routerLink]="['/author', val.id]">
                    <app-list-of-authors [item]="val"></app-list-of-authors>
                </a>
            </div> 
        </div>
    </div>
</section>
<section class="section6">
    <div class="section6-container">
        <div  class="section6-container-titleBlock">
            <p class="section6-container-titleBlock-text">
                We are
            </p>
            <h4 class="section6-container-titleBlock-title">
                Featured in
            </h4>
        </div>
        <a href="#"><img  class="section6-container-img"  src="assets/img/Logo 1.png" alt="photo"></a>
        <a href="#"><img  class="section6-container-img" src="assets/img/Logo 2.png" alt="photo"></a>
        <a href="#"><img  class="section6-container-img" src="assets/img/Logo 3.png" alt="photo"></a>
        <a href="#"><img  class="section6-container-img" src="assets/img/Logo 4.png" alt="photo"></a>
        <a href="#"><img  class="section6-container-img" src="assets/img/Logo 5.png" alt="photo"></a>
    </div>
</section>
<section class="section7">
    <div class="section7-container">
        <div class="section7-container-block1">
            <p class="section7-container-block1-text1">
                TESTIMONIALS
            </p>
            <h2 class="section7-container-block1-title">
                What people say about our blog
            </h2>
            <p class="section7-container-block1-text2">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor.
            </p>
        </div>
        <div class="section7-container-block2">
            <p class="section7-container-block2-text1">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.
            </p>
            <div  class="section7-container-block2-profil">
                <div class="section7-container-block2-profil-img">
                    <img src="assets/img/Profile picture.png" alt="photo">
                    <div class="section7-container-block2-profil-text">
                        <h4 class="section7-container-block2-title">Jonathan Vallem</h4>
                        <p class="section7-container-block2-text2">New york, USA</p>
                    </div>
                </div>
                <div>
                    <button class="section7-container-block2-backButton"></button>
                    <button class="section7-container-block2-nextButton"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-join></app-join>
