<form  class="forms" [formGroup]="form" (ngSubmit)="save()" *ngIf="action">         
    <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput formControlName="category">
    </mat-form-field> 
    <span class="inputInvalid" *ngIf="form.get('category')?.hasError('required') && (form.get('category')?.touched || form.get('category')?.dirty)">
        Enter a  Category , Category  in required.
    </span>
    <span class="inputInvalid" *ngIf="form.get('category')?.hasError('minlength') && (form.get('category')?.touched || form.get('category')?.dirty)">
        Enter a Category , Category in minlenght 3 sybol!
    </span> 
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="text"></textarea>
    </mat-form-field>
    <span class="inputInvalid" *ngIf="form.get('text')?.hasError('required') && (form.get('text')?.touched || form.get('text')?.dirty)">
        Enter a  Description , Description  in required.
    </span>
    <span class="inputInvalid" *ngIf="form.get('text')?.hasError('minlength') && (form.get('text')?.touched || form.get('text')?.dirty)">
        Enter a Description , Description in minlenght 3 sybol!
    </span> 
    <mat-form-field>
        <mat-label>Img</mat-label>
        <input matInput formControlName="img">
    </mat-form-field>
    <span class="inputInvalid" *ngIf="form.get('img')?.hasError('required') && (form.get('img')?.touched || form.get('img')?.dirty)">
        Enter a  Img , Img  in required.
    </span>
    <button mat-button [disabled]="form.invalid" type="submit">Save</button>
    <button mat-button  mat-dialog-close><mat-icon>close</mat-icon></button>
</form >
