<div class="header-container-block1" *ngIf="auther">
    <img class="header-container-block1-img" [src]="auther.img" alt="photo">
    <div>
        <h1 class="header-container-block1-title">
            {{auther.title}}
        </h1>
        <p class="header-container-block1-text">
            {{auther.text}}
        </p>
        <div class="header-container-block1-socialLinks">
            <a class="header-container-block1-socialLinks1" href="https://ru-ru.facebook.com/">
                <img src="../../../assets/img/Negative2.png" alt="photo">
            </a>
            <a class="header-container-block1-socialLinks1" href="https://twitter.com/">
                <img src="../../../assets/img/Negative.png" alt="photo">
            </a>
            <a class="header-container-block1-socialLinks1" href="https://www.instagram.com/">
                <img src="../../../assets/img/Negative3.png" alt="photo">
            </a>
            <a class="header-container-block1-socialLinks1" href="https://www.linkedin.com/">
                <img src="../../../assets/img/Negative1.png" alt="photo">
            </a>
        </div>
    </div>
</div>