<header class="header">
    <div class="header-container">
        <div class="header-container-blocks">
           <div class="header-container-blocks-block1">
                <p class="header-container-blocks-block1-text">
                    ABOUT US
                </p>
                <h1 class="header-container-blocks-block1-title">
                    We are a team of content writers 
                    who share their learnings
                </h1>
           </div>
           <p class="header-container-blocks-text">
                Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
           </p>
        </div>
        <div class="header-container-colorsBlock">
            <div class="header-container-colorsBlock1">
                <div class="header-container-colorsBlock-text">
                    <div>
                        <p class="header-container-colorsBlock-text-text1">
                            12+
                        </p>
                        <p class="header-container-colorsBlock-text-text2">
                            Blogs Published
                        </p>
                    </div>
                    <div>
                        <p class="header-container-colorsBlock-text-text1">
                            18K+
                        </p>
                        <p class="header-container-colorsBlock-text-text2">
                            Views on Finsweet
                        </p>
                    </div>
                    <div>
                        <p class="header-container-colorsBlock-text-text1">
                            30K+
                        </p>
                        <p class="header-container-colorsBlock-text-text2">
                            Total active Users
                        </p>
                    </div>
                </div>
                <div class="header-container-colorsBlock-color">
                    <div class="header-container-colorsBlock-color-purple"></div>
                    <div class="header-container-colorsBlock-color-yellow"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section1">
    <div class="section1-container">
        <div  class="section1-container-block">
            <div class="section1-container-block-block1">
                <p  class="section1-container-block-text1">
                    Our mision
                </p>
                <h3  class="section1-container-block-title">
                    Creating valuable content for 
                    creatives all around the world
                </h3>
                <p  class="section1-container-block-text2">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. 
                    Non blandit massa enim nec. Scelerisque 
                    viverra mauris in aliquam sem. At risus 
                    viverra adipiscing at in tellus.
                </p>
            </div>
            <div class="section1-container-block-block2">
                <div>
                    <p  class="section1-container-block-text1">
                        Our Vision
                    </p>
                    <h3  class="section1-container-block-title">
                        A platform that empowers 
                        individuals to improve
                    </h3>
                    <p  class="section1-container-block-text2">
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. 
                        Non blandit massa enim nec. Scelerisque 
                        viverra mauris in aliquam sem. At risus 
                        viverra adipiscing at in tellus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section2">
    <div class="section2-container">
        <div class="section2-container-block1">
            <h2 class="section2-container-block1-title1">
                Our team of creatives 
            </h2>
            <h4 class="section2-container-block1-title2">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt.
            </h4>
            <p class="section2-container-block1-text">
                Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit 
                esse cillum dolore eu fugiat.
            </p>
        </div>
        <div class="section2-container-block2">
            <img class="section2-container-block2-img" src="assets/img/ground.png" alt="photo">
        </div>
    </div>
</section>
<section class="section3">
    <div class="section3-container">
        <div class="section3-container-block1">
            <img class="section3-container-block1-img" src="assets/img/three-persons.png" alt="photo">
        </div>
        <div class="section3-container-block2">
            <h2 class="section3-container-block2-title1">
                Why we started this Blog
            </h2>
            <h4 class="section3-container-block2-title2">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt.
            </h4>
            <p class="section3-container-block2-text">
                Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit 
                esse cillum dolore eu fugiat.
            </p>
        </div>
    </div>
</section>
<section class="section5">
    <div class="section5-container">
        <h2 class="section5-container-title">
            List of Authors
        </h2>
        <div class="section5-container-blocks">
            <div *ngFor="let val of Aut">
                <app-list-of-authors [item]="val" routerLink="/author"></app-list-of-authors>
            </div> 
        </div>
    </div>
</section>
<app-join></app-join>