<div class="subLenght">
   MY Subscribers {{lengt}}
</div>
<table mat-table [dataSource]="sub" class="mat-elevation-z8" >

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell class="tdText" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email </th>
      <td mat-cell class="tdText" *matCellDef="let element"> 
        {{element.e_mail}}
     </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell  class="action" *matCellDef="let element" > 
          <button style="background-color: #ffffff;" (click)="del(element.id)" >
            <mat-icon color="warn" >delete</mat-icon>
          </button>
       </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
