<div class="blocks">
    <div class="post">
        <div>
            <a routerLink="/admin/blog">
                #All Post #{{post}}
            </a>
        </div>
        <mat-icon>subtitles</mat-icon>
    </div>
    <div class="category">
        <div>
            <a routerLink="/admin/cotegory">
                All Category #{{category}}
            </a>
        </div>
        <mat-icon>category</mat-icon>
    </div>
    <div class="auther">
        <div>
            <a routerLink="/admin/auther">
                All authers #{{auther}}
            </a>
        </div>
        <mat-icon>person</mat-icon>
    </div>
    <div class="contact">
        <div>
            <a routerLink="/admin/contactUs">
                All contact #{{contact}}
            </a>
        </div>
        <mat-icon>contacts</mat-icon>
    </div>
</div>