  <form  class="forms" [formGroup]="form" (ngSubmit)="save()">
            
            <mat-form-field>
                <mat-label>Full name</mat-label>
                <input matInput formControlName="title">
            </mat-form-field> 

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="text"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Img</mat-label>
                <input matInput formControlName="img">
            </mat-form-field>

            <button mat-button [disabled]="form.invalid" type="submit">Save</button>
            <button mat-button  mat-dialog-close><mat-icon>close</mat-icon></button>
  </form >
<!--   
  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Img</mat-label>
    <input matInput>
  </mat-form-field>
 <button mat-button>Save</button> -->