<header class="header" *ngIf="postId">
    <div class="header-container">
        <div class="header-container-block1">
            <img class="header-container-block1-img" [src]="postId.userImg" alt="photo">
            <div class="header-container-block1-text">
                <h3 class="header-container-block1-title">
                    <a [routerLink]="['/author',postId.userName]">
                        {{postId.userName}}
                    </a>
                </h3>
                <p class="header-container-block1-text1">{{postId.data}}</p>
            </div>
        </div>
        <h1 class="header-container-title">
            {{postId.title}}
        </h1>
        <div class="header-container-block2">
            <img  class="header-container-block2-img" [src]="postId.categoryImg" alt="photo">
            <h4 class="header-container-block2-title">{{postId.cotegory}}</h4>
        </div>
    </div>
</header>
<section class="section1"*ngIf="postId">
    <div class="section1-container">
        <img class="section1-container-img" [src]="postId.img" alt="photo">
        <div class="section1-container-block">
            <h2 class="section1-container-block-title1 margin1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            </h2>
            <p class="section1-container-block-text1 margin2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Non blandit massa enim nec. Scelerisque
                viverra mauris in aliquam sem. At risus viverra adipiscing 
                at in tellus. Sociis natoque penatibus et magnis dis parturient 
                montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                congue quisque egestas diam. Risus in hendrerit gravida rutrum 
                quisque non.
            </p>
            <h2 class="section1-container-block-title1 margin3">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod.
            </h2>
            <p class="section1-container-block-text1 margin4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Non blandit massa enim nec. Scelerisque viverra 
                mauris in aliquam sem. At risus viverra adipiscing at in tellus. 
                Sociis natoque penatibus et magnis dis parturient montes. 
                Ridiculus mus mauris vitae ultricies leo. Neque egestas congue 
                quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
            </p>
            <p class="section1-container-block-text1 margin5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Non blandit massa enim nec. Scelerisque viverra mauris 
                in aliquam sem. At risus viverra adipiscing at in tellus. Sociis 
                natoque penatibus et magnis dis parturient montes. Ridiculus mus 
                mauris vitae ultricies leo. Neque egestas congue quisque egestas 
                diam. Risus in hendrerit gravida rutrum quisque non.
            </p>
            <ul class="section1-container-block-ul margin6">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Non blandit massa enim nec scelerisque</li>
                <li>Neque egestas congue quisque egestas</li>
            </ul>
            <p class="section1-container-block-text1 margin7">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Non blandit massa enim nec. Scelerisque viverra mauris 
                in aliquam sem. At risus viverra adipiscing at in tellus. Sociis 
                natoque penatibus et magnis dis parturient montes. Ridiculus mus
                mauris vitae ultricies leo. Neque egestas congue quisque egestas 
                diam. Risus in hendrerit gravida rutrum quisque non.
            </p>
            <h2 class="section1-container-block-title1 margin8">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod.
            </h2>
            <p class="section1-container-block-text1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Non blandit massa enim nec. Scelerisque viverra mauris 
                in aliquam sem. At risus viverra adipiscing at in tellus. Sociis 
                natoque penatibus et magnis dis parturient montes. Ridiculus mus
                mauris vitae ultricies leo. Neque egestas congue quisque egestas 
                diam. Risus in hendrerit gravida rutrum quisque non.
            </p>
        </div>
    </div>
</section>
<section class="section2">
    <div class="section2-container">
        <h2 class="section2-container-title">
            What to read next
        </h2>
        <div class="section2-container-blocks">
            <a class="block" [routerLink]="['/blogPost',item.id]" *ngFor="let item of post">
                <div class="section2-container-blocks-block1">
                    <img  class="section2-container-blocks-block1-img" [src]="item.img" alt="photo">
                    <p class="section2-container-blocks-block1-text1">
                        By <span style="color: #592EA9;">
                            <a [routerLink]="['/author',item.userName]">{{item.userName}}</a>
                        </span>   {{item.data}} 
                    </p>
                    <h3 class="section2-container-blocks-block1-title">
                        {{item.title}} 
                    </h3>
                    <p class="section2-container-blocks-block1-text2">
                        {{item.post}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>
<app-join></app-join>
